{% extends "admin/layout.html" %}

{% block title %}Admin | Welcome {% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}

   <div class="right_col" role="main">

        <br />
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Usage Summary <small>Weekly progress</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:280px">
                      <div id="placeholder33x" class="demo-placeholder"></div>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer content -->
        <footer>
          <div class="copyright-info">
            <p class="text-center">Copyright © 2019 IWS. All Rights Reserved
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

      </div>

{% endblock %}
