<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='admin/css/bootstrap.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='admin/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/css/animate.min.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='admin/css/custom.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/css/green.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='admin/css/jquery-ui.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/alertify.core.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/alertify.default.css') }}" id="toggleCSS" />
  <script src="{{ url_for('static', filename='admin/js/alertify.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/js/jquery.min.js') }}"></script>

  
  {{ moment.include_moment() }}

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
{% endblock %}


<body class="nav-md">
{% block body %}

   {% with messages = get_flashed_messages() %}
      {% if messages %}
       {% for message in messages %}
          <div class="alert-box success">
          <script type="text/javascript">alertify.alert("{{ message }}");</script>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  <div class="container body">


    <div class="main_container">

     {% block leftnav %}
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="{{ url_for('admin.home') }}" class="site_title"><i class="fa fa-paw"></i> <span>IWS</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="{{ url_for('static', filename='images/users/'+current_user.image) }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>{{ current_user.first_name }}</h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>MENU</h3>
              <ul class="nav side-menu">
                <li><a href="{{ url_for('admin.welcome') }}"><i class="fa fa-home"></i> Home</a></li>
                {% if current_user.role.name == 'Administrator' %}
                <li><a><i class="fa fa-child"></i> Users <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{ url_for('admin.create_user') }}">Create User</a>
                    </li>
                    <li><a href="{{ url_for('admin.users') }}">View All</a>
                    </li>
                  </ul>
                </li>
                {% endif %}
                <li><a><i class="fa fa-mobile"></i> Features <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="{{ url_for('admin.create_feature') }}">Create Feature</a>
                    </li>
                    <li><a href="{{ url_for('admin.features') }}">View All</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>
    {% endblock %}

      <!-- top navigation -->
      {% block topnav %}
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="">{{ current_user.name }}
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li>
                   <a href="{{ url_for('auth.change_password') }}"><i class="fa fa-lock pull-right"></i>Change Password</a>
                  </li>
                  <li>
                    <a href="{{ url_for('auth.change_email_request') }}"><i class="fa fa-key pull-right"></i>Change Email</a>
                  </li>
                  <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>



            </ul>
          </nav>
        </div>

      </div>
      {% endblock %}
      <!-- /top navigation -->

      <!-- page content -->
      {% block content %}
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>{% block page_title %}Page Title{% endblock %}</h3>
            </div>

          </div>
          <div class="clearfix"></div>

          <div class="row">
          {% block page_content %}
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel" style="height:600px;">
                <div class="x_title">
                  <h2>Plain Page</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          {% endblock %}
          </div>
        </div>

        <!-- footer content -->
      {% block footer %}
        <footer>
          <div class="copyright-info">
            <p class="text-center">Copyright © 2019 IWS. All Rights Reserved
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
      {% endblock %}
        <!-- /footer content -->

      </div>
      {% endblock %}
      <!-- /page content -->
    </div>

  </div>


  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="{{ url_for('static', filename='admin/js/bootstrap.min.js') }}"></script>

  <!-- bootstrap progress js -->
  <script src="{{ url_for('static', filename='admin/js/bootstrap-progressbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/js/jquery.nicescroll.min.js') }}"></script>
  <!-- icheck -->
  <script src="{{ url_for('static', filename='admin/js/icheck.min.js') }}"></script>

  <script src="{{ url_for('static', filename='admin/js/custom.min.js') }}"></script>

  <!-- pace -->
  <script src="{{ url_for('static', filename='admin/js/pace.min.js') }}"></script>

  <!-- daterangepicker -->
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/moment.min.js') }}"></script>
  
  <!-- chart js -->
  <script src="{{ url_for('static', filename='admin/js/chart.min.js') }}"></script>
  <!-- sparkline -->
  <script src="{{ url_for('static', filename='admin/js/jquery.sparkline.min.js') }}"></script>

  <!-- flot js -->
  <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.flot.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.flot.pie.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.flot.orderBars.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.flot.time.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/date.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.flot.spline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.flot.stack.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/curvedLines.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.flot.resize.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery-ui.js') }}"></script>
  
  

  <script type="text/javascript">
    //define chart clolors ( you maybe add more colors if you want or flot will add it automatic )
    var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

    //generate random number for charts
    randNum = function() {
      return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
    }

    $(function() {
      var d1 = [];
      //var d2 = [];

      //here we generate data for chart
      for (var i = 0; i < 30; i++) {
        d1.push([new Date(Date.today().add(i).days()).getTime(), randNum() + i + i + 10]);
        //    d2.push([new Date(Date.today().add(i).days()).getTime(), randNum()]);
      }

      var chartMinDate = d1[0][0]; //first day
      var chartMaxDate = d1[20][0]; //last day

      var tickSize = [1, "day"];
      var tformat = "%d/%m/%y";

      //graph options
      var options = {
        grid: {
          show: true,
          aboveData: true,
          color: "#3f3f3f",
          labelMargin: 10,
          axisMargin: 0,
          borderWidth: 0,
          borderColor: null,
          minBorderMargin: 5,
          clickable: true,
          hoverable: true,
          autoHighlight: true,
          mouseActiveRadius: 100
        },
        series: {
          lines: {
            show: true,
            fill: true,
            lineWidth: 2,
            steps: false
          },
          points: {
            show: true,
            radius: 4.5,
            symbol: "circle",
            lineWidth: 3.0
          }
        },
        legend: {
          position: "ne",
          margin: [0, -25],
          noColumns: 0,
          labelBoxBorderColor: null,
          labelFormatter: function(label, series) {
            // just add some space to labes
            return label + '&nbsp;&nbsp;';
          },
          width: 40,
          height: 1
        },
        colors: chartColours,
        shadowSize: 0,
        tooltip: true, //activate tooltip
        tooltipOpts: {
          content: "%s: %y.0",
          xDateFormat: "%d/%m",
          shifts: {
            x: -30,
            y: -50
          },
          defaultTheme: false
        },
        yaxis: {
          min: 0
        },
        xaxis: {
          mode: "time",
          minTickSize: tickSize,
          timeformat: tformat,
          min: chartMinDate,
          max: chartMaxDate
        }
      };
      var plot = $.plot($("#placeholder33x"), [{
        label: "Activity",
        data: d1,
        lines: {
          fillColor: "rgba(150, 202, 89, 0.12)"
        }, //#96CA59 rgba(150, 202, 89, 0.42)
        points: {
          fillColor: "#fff"
        }
      }], options);
    });
  </script>
  <!-- /flot -->

<!-- Events -->


{% endblock %}
</body>

</html>
