{% extends "auth/layout.html" %}

{% block title %}IWS | Change Password {% endblock %}


{% block content %}
    <form method="POST" action="">
      {{ form.csrf_token }}
      <h1>Change Password</h1>
      <div>
        <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Old Password"/><span> {% if form.old_password.errors %}{{ form.old_password.errors[0] }}{% endif%}</span>
      </div>
      <div>
        <input type="password" id="password" name="password" class="form-control" placeholder="New Passwor"/><span> {% if form.password.errors %}{{ form.password.errors[0] }}{% endif%}</span>
      </div>
       <div>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Re-Enter Password"/><span> {% if form.password2.errors %}{{ form.password2.errors[0] }}{% endif%}</span>
      </div>
      <div>
        {{ form.submit(class='btn btn-default submit') }}
      </div>

      <div>

        <p class="change_link">Changed your mind?
          <a href="{{ url_for('main.home') }}" class="to_register"> Go Home </a>
        </p>
    </form>
{% endblock %}